@import url('fonts/fonts.css');
@import url('vendor/normalize.css');

/*html {
  width: 768px;
}*/

/*html {
  width: 320px;
}*/

/*html {
  width: 1024px;
}*/

/*
div, a, h1, h2, h3, h4, h5, p, li, ul, nav, blockquote, img, section {
  outline: 0.5px solid red;
}
*/
.page {
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  max-width: 1184px;
  position: relative;
  -webkit-box-align: center;
          align-items: center;
  align-self: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
}

.header__logo {
  width: 177px;
  height: 52px;
}

.header__lang {
  font-size: 24px;
  line-height: 23px;
  text-decoration: none;
  color: white;
  margin-left: 18px;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.header__lang:hover {
  opacity: .7;
}

.header__lang:active {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.header__lang_underline {
  text-decoration: underline;
}

.lead {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  max-width: 985px;
  align-self: center;
  -webkit-box-align: center;
          align-items: center;
  margin: 48px auto 0;
}

.lead__title {
  max-width: 782px;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  font-weight: 900;
  margin: 0;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  max-width: 583px;
  text-align: center;
  margin: 48px 0 78px;
}

.lead__image {
  width: 984px;
}

.lead__caption {
  display: -webkit-box;
  display: flex;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin: 10.87px 0 0;
}

.intro {
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  padding-top: 80px;
  max-width: 985px;
}

.intro__container {
  max-width: 683px;
  align-self: flex-start;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 59px;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.intro__content-row {
  font-size: 14px;
  line-height: 24px;
  margin: 48px 0 24px;
}

.intro__text {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  list-style: none;
}

.intro__text_span {
  font-weight: normal;
}

.photo-grid {
  margin: 0 auto;
  display: grid;
  max-width: 1184px;
  padding-top: 102px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.photo-grid__item {
  width: 100%;
}

.places {
  margin: 0 auto;
  max-width: 984px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-top: 92px;
}

.places__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.place {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-bottom: 72px;
}

.places__list li:last-of-type .place {
  margin-bottom: 0;
}

.place__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.place__row:last-of-type {
  margin-bottom: 0;
}

.place__title {
  max-width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  margin: 0 0 0 0;
  text-rendering: optimizeLegibility;
}

.place__website {
  align-self: flex-end;
  width: 484px;
}

.place__url-heading {
  color: #aaa;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin: 0;
}

.place__url {
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin: 0;
  color: white;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.place__url:hover {
  opacity: .7;
}

.place__url:active {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.place__image {
  width: 460px;
  height: 460px;
}

.place__paragraphs {
  width: 484px;
}

.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 36px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.video {
  padding-top: 102px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1184px;
}

.content-title {
  max-width: 800px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 0;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
}

.content-subtitle {
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  margin: 48px 0 0;
  max-width: 640px;
}

.video__container {
  margin-top: 73px;
  display: grid;
  align-self: normal;
  grid-template-columns: repeat(auto-fit, 583px);
  grid-gap: 18px;
  -webkit-box-pack: center;
          justify-content: center;
}

.video__item {
  max-width: 583px;
  height: 323px;
  border-radius: 5px;
  position: relative;
  background: black;
}

.video__image {
  width: 100%;
  height: 100%;
  opacity: .5;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  position: absolute;
  border-radius: 5px;
}

.video__text {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
  height: 100%;
  color: white;
}

.video__item:hover .video__image {
  opacity: .8;
}

.video__icon-play {
  position: absolute;
  top: 30px;
  left: 30px;
}

.video__duration {
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  margin: 0 0 0 30px;
}

.video__title {
  width: 70%;
  font-weight: bold;
  font-size: 36px;
  line-height: 39px;
  margin: 12px 0 0 30px;
  text-rendering: optimizeLegibility;
}

.video__subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 15px;
  margin: 18px 0 30px 30px;
}

.comments {
  margin: 0 auto;
  padding-top: 102px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1184px;
}

.comments__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 72px;
}

.comment {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  max-width: 382px;
  margin-right: 19px;
}

.comment:last-of-type {
  margin-right: 0;
}

.comment__image {
  width: 97px;
  height: 97px;
}

.comment__quote {
  margin: 42px 0 24px;
  font-size: 14px;
  line-height: 24px;
}

.comment__author {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
}

.cover {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1184px;
  height: 594px;
  margin: 102px auto 0;
  background: #2A2C2F;
}

.cover:hover .cover__image {
  opacity: .8;
}

.cover__container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  max-width: 1184px;
  height: 594px;
}

.cover__image {
  opacity: .3;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.cover__text {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  color: white;
}

.cover__title {
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  max-width: 1094.27px;
  height: 69px;
  margin: 274px 0 134px;
  text-rendering: optimizeLegibility;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 382px;
  margin: 0 0 48px;
}

.footer {
  display: -webkit-box;
  display: flex;
  max-width: 1184px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 160px 0 48px;
  margin: 0 auto;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: flex;
}

.footer__list-item {
  display: -webkit-box;
  display: flex;
  margin-right: 18px;
}

.footer__list-item:last-of-type {
  margin-right: 0;
}

.footer__link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.footer__link:hover {
  opacity: .7;
}

.footer__link:active {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  align-self: flex-end;
}

@media screen and (min-width : 1024px) and (max-width: 1279px) {
  .header, .lead, .intro, .photo-grid, .places, .video, .comments, .footer {
    max-width: 928px;
  }

  .lead__subtitle {
    margin: 46px 0 65px;
  }

  .lead__image {
    width: 928px;
  }

  .lead__caption {
    margin: 16px 0 0;
  }

  .intro__container {
    max-width: 692px;
  }

  .photo-grid {
    grid-gap: 14px;
  }

  .places {
    padding-top: 102px;
  }

  .place__title {
    max-width: 440px;
  }

  .place__image {
    width: 440px;
    height: 440px;
  }

  .place__paragraphs, .place__website {
    width: 456px;
  }

  .place__paragraph {
    margin: 0 0 24px;
  }

  .place__row {
    margin-bottom: 40px;
  }

  .video__item {
    max-width: 456px;
    height: 288px;
  }

  .video__container {
    margin-top: 72px;
    grid-template-columns: repeat(auto-fit, 456px);
    grid-gap: 16px;
  }

  .video__subtitle {
    margin: 18px 0 35px 30px;
  }

  .content-title {
    line-height: 65px;
  }

  .cover__title {
    width: 50%;
    height: 65.28px;
    margin: 211px 0 171.72px;
  }

  .cover, .cover__container {
    height: 562px;
  }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
  .header, .lead, .intro, .photo-grid, .places, .video, .comments, .footer {
    max-width: 720px;
  }

  .lead__subtitle {
    margin: 48px 0 78px;
  }

  .lead__image {
    width: 768px;
  }

  .lead__caption {
    margin: 16px 0 0;
  }

  .intro__container {
    max-width: 100%;
  }

  .places {
    padding-top: 102px;
  }

  .place {
    margin-bottom: 81px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    width: 340px;
    height: 340px;
  }

  .place__paragraphs, .place__website {
    width: 352px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
    margin: 0 0 24px;
  }

  .place__row {
    margin-bottom: 40px;
  }

  .content-title {
    font-size: 42px;
    line-height: 46px;
  }

  .video__item {
    max-width: 352px;
    height: 200px;
  }

  .video__container {
    margin-top: 56px;
    grid-template-columns: repeat(auto-fit, 352px);
    grid-gap: 16px;
  }

  .video__icon-play {
    top: 24px;
    left: 24px;
  }

  .video__title {
    font-size: 24px;
    line-height: 26px;
    width: 90%;
    margin: 8px 0 0 30px;
  }

  .video__subtitle {
    margin: 12px 0 24px 30px;
  }

  .comments__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }

  .comment {
    margin-bottom: 48px;
    margin-right: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  .comment:last-of-type {
    margin-bottom: 0;
  }

  .comment__image {
    -webkit-box-ordinal-group: -1;
            order: -2;
  }

  .comment__author {
    -webkit-box-ordinal-group: 0;
            order: -1;
    margin: 16px 0 24px;
  }

  .comment__quote {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
  }

  .cover, .cover__container {
    height: 500px;
  }

  .cover__title {
    height: unset;
    width: 70%;
    margin: 165px 0 45px;
  }

  .footer {
    padding: 102px 0 24px;
  }

  .footer__link {
    font-size: 16px;
    line-height: 27px;
  }
}

@media all and (min-width : 320px) and (max-width : 767px) {
  .header, .lead, .intro, .photo-grid, .video, .comments, .footer {
    max-width: 343px;
  }

  .header {
    padding-top: 16px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang {
    font-size: 18px;
    line-height: 17px;
    margin-left: 16px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin: 8px 0 31px;
  }

  .lead__image {
    width: 375px;
  }

  .lead__caption {
    margin: 8px 0 0;
  }

  .intro {
    padding-top: 64px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__content-row {
    font-size: 16px;
    line-height: 27px;
  }

  .intro__list-item {
    font-size: 12px;
    line-height: 19px;
  }

  .photo-grid {
    padding-top: 64px;
    grid-template-columns: repeat(auto-fit, 343px);
    grid-gap: 15px;
  }

  .photo-grid__item {
    min-height: 232px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .places {
    padding-top: 64px;
  }

  .place {
    margin-bottom: 48px;
  }

  .place__title {
    min-width: 343px;
    margin: 0 auto;
    font-size: 32px;
    line-height: 35px;
  }

  .place__website {
    display: none;
  }

  .place__paragraphs {
    max-width: 343px;
    margin: 24px auto 0;
  }

  .place__paragraph {
    max-width: 343px;
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 27px;
  }

  .place__image {
    width: 375px;
    height: 375px;
  }

  .place__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 32px;
  }

  .content-title {
    font-size: 32px;
    line-height: 35px;
  }

  .content-subtitle {
    font-size: 16px;
    line-height: 23px;
  }

  .video {
    padding-top: 64px;
  }

  .content-subtitle {
    margin-top: 16px;
  }

  .video__container {
    margin-top: 24px;
  }

  .video__item {
    max-width: 343px;
    height: 200px;
  }

  .video__container {
    grid-template-columns: repeat(auto-fit, 343px);
    grid-gap: 8px;
  }

  .video__icon-play {
    top: 24px;
    left: 24px;
  }

  .video__duration {
    margin-left: 24px;
  }

  .video__title {
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    margin: 8px 0 0 24px;
  }

  .video__subtitle {
    margin: 8px 0 24px 24px;
  }

  .comments {
    padding-top: 64px;
  }

  .comments__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-top: 48px;
  }

  .comment {
    margin-bottom: 48px;
    margin-right: 0;
    -webkit-box-align: center;
            align-items: center;
  }

  .comment:last-of-type {
    margin-bottom: 0;
  }

  .comment__image {
    -webkit-box-ordinal-group: -1;
            order: -2;
  }

  .comment__author {
    -webkit-box-ordinal-group: 0;
            order: -1;
    margin: 16px 0 24px;
  }

  .comment__quote {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
  }

  .cover, .cover__container {
    height: 272px;
  }

  .cover {
    margin-top: 48px;
  }

  .cover__title {
    height: unset;
    width: 60%;
    margin: 104px 0 7px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    width: 80%;
    font-size: 14px;
    line-height: 17px;
    white-space: pre-line;
  }

  .footer {
    padding: 64px 0 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }

  .footer__list-item {
    margin: 0 0 32px;
  }

  .footer__list-item:last-of-type {
    margin: 0;
  }

  .footer__link {
    font-size: 24px;
  }

  .footer__copyright {
    align-self: baseline;
    margin-top: 48px;
  }
}

@media all and (min-width : 320px) and (max-width : 374px) {
  .header, .lead, .intro, .photo-grid, .video, .comments, .footer, .place__paragraphs {
    max-width: 288px;
  }

  .lead__subtitle {
    margin-bottom: 32px;
  }

  .lead__image {
    width: 320px;
  }

  .photo-grid {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 8px;
  }

  .photo-grid__item {
    min-height: 192px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .place__title {
    min-width: 288px;
  }

  .place__image {
    width: 320px;
    height: 320px;
  }

  .video__item {
    max-width: 288px;
    height: 192px;
  }

  .video__container {
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 8px;
  }

  .video__icon-play {
    top: 16px;
    left: 16px;
  }

  .video__duration {
    margin-left: 16px;
  }

  .video__title {
    font-size: 24px;
    line-height: 26px;
    width: 100%;
    margin: 8px 0 0 16px;
  }

  .video__subtitle {
    margin: 8px 0 24px 16px;
  }

  .comment__image {
    width: 96px;
    height: 96px;
  }

  .comment__author {
    margin-top: 17px;
  }

  .cover {
    margin-top: 64px;
  }

  .cover, .cover__container {
    height: 216px;
  }

  .cover__title {
    margin: 64px 0 7px;
    width: 75%;
  }

  .cover__subtitle {
    width: 100%;
  }
}
