@import url('fonts/fonts.css');
@import url('vendor/normalize.css');

html {
  width: 1024px;
}

.page {
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  background-color: #2A2C2F;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 90%;
  position: relative;
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.header__lang {
  font-size: 24px;
  line-height: 23px;
  text-decoration: none;
  color: white;
  margin-left: 18px;
}

.header__lang_underline {
  text-decoration: underline;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  align-self: center;
  align-items: center;
  margin-top: 3rem;
}

.lead__title {
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  margin-top: 46px;
  margin-bottom: 65px;
}

.lead__caption {
  display: flex;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 16px;
}

.intro {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  width: 90%;
}

.intro__title {
  font-weight: bold;
  font-size: 54px;
  line-height: 59px;
  margin: 0;
}

.intro__content-row {
  font-size: 14px;
  line-height: 24px;
  width: 75%;
  margin: 48px 0 24px;
}

.intro__text {
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.intro__list-item {
  list-style: none;
}

.photo-grid {
  display: grid;
}
