.place__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.place__row:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width : 1024px) and (max-width: 1279px) {
  .place__row {
    margin-bottom: 40px;
  }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
  .place__row {
    margin-bottom: 40px;
  }
}

@media all and (min-width : 320px) and (max-width : 767px) {
  .place__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin-bottom: 32px;
  }
}