.photo-grid__item {
  width: 100%;
}

@media all and (max-width : 767px) {
  .photo-grid__item {
    min-height: 232px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media all and (max-width : 374px) {
  .photo-grid__item {
    min-height: 192px;
  }
}
