.footer__link {
  text-decoration: none;
  color: white;
  font-size: 24px;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.footer__link:hover {
  opacity: .7;
}

.footer__link:active {
  opacity: 1;
  -webkit-transition: 0s;
  transition: 0s;
}

@media all and (min-width : 768px) and (max-width : 1023px) {
  .footer__link {
    font-size: 16px;
    line-height: 27px;
  }
}

@media all and (max-width : 767px) {
  .footer__link {
    font-size: 24px;
  }
}
