.lead__title {
  max-width: 782px;
  font-size: 96px;
  line-height: 93px;
  text-align: center;
  font-weight: 900;
  margin: 0;
  white-space: pre-line;
  text-rendering: optimizeLegibility;
}

@media all and (max-width : 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}
