.footer__copyright {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  align-self: flex-end;
}

@media all and (max-width : 767px) {
  .footer__copyright {
    align-self: baseline;
    margin-top: 48px;
  }
}
