.video__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 39px;
  margin: 12px 0 0 30px;
  text-rendering: optimizeLegibility;
  white-space: pre-line;
}

@media all and (max-width : 1023px) {
  .video__title {
    font-size: 24px;
    line-height: 26px;
    margin: 8px 0 0 24px;
    white-space: normal;
  }
}

@media all and (max-width : 374px) {
  .video__title {
    margin: 8px 0 0 16px;
  }
}
