.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  max-width: 583px;
  text-align: center;
  margin: 48px 0 78px;
}

@media screen and (min-width : 1024px) and (max-width: 1279px) {
  .lead__subtitle {
    margin: 46px 0 65px;
  }
}

@media all and (min-width : 768px) and (max-width : 1023px) {
  .lead__subtitle {
    margin: 48px 0 78px;
  }
}

@media all and (max-width : 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin: 8px 0 31px;
  }
}

@media all and (max-width : 374px) {
  .lead__subtitle {
    margin-bottom: 32px;
  }
}
